.navbar {
  background-color: #141a26;
}

h1 {
  font-family: ff-cocon-pro, sans-serif;
  color: #fff9f0;
  text-shadow: 2px 2px #af95677c;
}

h2 {
  font-family: ff-cocon-pro, sans-serif;
  color: #141a26;
}

h3 {
  font-family: museo-sans, sans-serif;
  color: #60a6a6;
  font-size: 30px;
  font-weight: 700;
}
ul li h2 {
  color: #141a26;
}

.display-6 {
  color: #fff9f0;
}

p {
  font-family: museo-sans, sans-serif;
}

.css_splash_video {
  height: 70vh;
  object-fit: cover;
}

.signe-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  background-color: #d9e5ec;
}

.section-3 {
  background-color: #b8ccd9;
}

.info {
  background-image: url(../img/infog.png);
  background-position: 50%;
}

.btn {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #60a6a6;
  text-align: center;
  text-decoration: none;
  font-family: museo-sans, sans-serif;
  letter-spacing: 1px;
  color: #fff9f0;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  box-shadow: 0.5px 0.5px 2px #60a6a6;
  border: none;
}
button:hover {
  background-color: #b8ccd9;
}

.liste {
  padding: 0;
  font-size: 25px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff9f0;
  font-family: museo-sans, sans-serif;
}

.love {
  background-image: url(../img/love.png);
  height: 300px;
  width: 300px;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}
.vand {
  background-image: url(../img/vand.png);
  height: 300px;
  width: 300px;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}
.run {
  background-image: url(../img/run.png);
  height: 100px;
  width: 100px;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}
.yoga {
  background-image: url(../img/yoga.png);
  height: 100px;
  width: 100px;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}
.bike {
  background-image: url(../img/bike1.png);
  height: 100px;
  width: 100px;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}

.sp-py-10 {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

footer img {
  max-width: 80px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer p {
  color: #fff9f0;
  text-align: center;
}

.footer {
  background-color: #141a26;
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@media (min-width: 576px) {
  .css_splash_video {
    height: calc(100vh - 180px);
  }
  .liste {
    font-size: 30px;
  }
  .love {
    height: 400px;
    width: 400px;
  }
  .vand {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 1000px) {
  .bike {
    height: 200px;
    width: 200px;
  }
  .run {
    height: 200px;
    width: 200px;
  }
  .yoga {
    height: 200px;
    width: 200px;
  }
}
