

*img{
    max-width: 100%;
}

.navbar{
background-color: #141a26;
}

h1{
    font-family: ff-cocon-pro, sans-serif;
    color: #FFF9F0;
    text-shadow: 2px 2px #af95677c;
}

h2{
    font-family: ff-cocon-pro, sans-serif; 
}

h3{
    font-family: museo-sans 700, sans-serif;
    color:#60a6a6;
    font-size: 30px;
}

.display-6{
    color: #FFF9F0;
}

p{
    font-family: museo-sans, sans-serif;
}

.css_splash_video {
  height: 70vh;
  object-fit: cover;
}

.section{
    background-color: #d9e5ec ;
}

.info{
    background-image: url(/img/infog.png);
}

section ul li{
    font-size: 40px;
    list-style: none;
    line-height: 100px;
    color:#FFF9F0;
    font-family: ff-cocon-pro, sans-serif;
}

.btn {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #60a6a6;
    text-align: center;
    text-decoration: none;
    font-family: museo-sans 300, sans-serif;
    letter-spacing: 1px;
    color:#FFF9F0;
    cursor: pointer;
    margin: 0 1rem 1rem 0;
    box-shadow: 2px 5px 10px #888888;
    border: none
    
  }
  button:hover {
    color:#FFF9F0;
    opacity: 0.8;
  }
 

.footer{
    background-color: #222c40;
}

@media (min-width: 576px) {
    .css_splash_video {
        height: calc(100vh - 180px);
    }